@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.video-container {
  position: relative;
}

.timeline-bar {
  width: 100%;
  height: 120px; /* Adjust the height as needed */
  background-color: #f0f0f0;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

.timeline-frame {
  display: inline-block;
  width: 100px; /* Adjust the width as needed */
  /* height: 100%; */
  background-size: cover;
  cursor: pointer;
  margin-right: 2px;
}

.timeline-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: red;
  z-index: 1;
  pointer-events: none;
}

.scrubber {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px; /* Adjust the width as needed */
  height: 100%;
  background-color: #000;
  z-index: 2;
  cursor: ew-resize;
}

